.bsr-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
}

.card-body {
  flex: 1;
  background-color: #e6e6e6;
}

.card-text {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.listgroup-body {
  border-radius: 10px;
}

.listgroup-text {
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: #212529;
}

.imgSize {
  object-fit: none;
}

a {
  text-decoration: none;
  color: black;
}
